#result{
  display: none;
}
body{
font-family: 'Markazi Text', serif;
font-size: 30px;
}

.jumbotron{
  text-align: center;
}

.section1{
  text-align: center;

}
img{
  height:200px;
  width: auto;
}
