#result{
  display: none;
}
body{
font-family: 'Markazi Text', serif;
font-size: 20px;
margin: 30px;
}

.jumbotron{
  text-align: center;
}

.section1{
  text-align: center;

}
img{
  height:200px;
  width: auto;
}

#test{
  display: none;
}

.path{
  color: green;
}

.well{
  margin: 40px;
  text-align: center;
}
