#result{
  display: none;
}
body{
font-family: 'Markazi Text', serif;
font-size: 25px;
margin: 30px;
background-color: #d6feff;
}

.jumbotron{
  text-align: center;
  background-color: black;
  color: white;
}

.section1{
  text-align: center;

}
img{
  height:200px;
  width: auto;
}

#test{
  display: none;
}

.path{
  color: green;
}

.well{
  margin: 40px;
  text-align: center;
}

.btn{
  font-size: 20px;
}
